.top h1 {
	font-size: 110px;
	letter-spacing: 9px;
	color: #aaaaaa;
	text-align: center;
}

.top h1 span {
	color: #ff8080;
}

.mo {
	padding-top: 10px;
	margin-right: 30px;
}

.mo p {
	font-size: 50px;
	float: right;

}

/*ここから先はメニューについて */

ul	{
	float: left;
	letter-spacing: 3px;
	padding-top: 70px;
}

li {
	font-size: 50px;
	padding-left: 100px;
	padding-top: 44px;
}