
.top img {
	display: block;
	padding-top: 100px;
	margin: auto;
	width: 70%;
}

.top h1 {
	color: #708090;
	text-align: center;
	font-size: 110px;

}

.top h1 span {
	color: red;
}

input {
	display: block;
	margin: auto;
	margin-top: 100px;
	padding: 50px;
	color: 	black;
}

input[type="button"] {
	-webkit-appearance: none;
	border-radius: 0;
	background-color: #D3D3D3;
}

input[value] {
	font-size: 25px;
}

.menu {
	text-align: center;
	padding-top: 70px;
}

.menu h4 {
	font-weight: normal;
	color: #696969;
	font-size: 50px;
}

.menu p {
	font-weight: normal;
	font-size: 45px;
}

.menu p span {
	color: #FF0000;
	font-size: 45px;
}