
.top img {
	display: block;
	padding-top: 100px;
	margin: auto;
	width: 80%;
}

.top h1 {
	color: #708090;
	text-align: center;
	font-size: 110px;

}

.top h1 span {
	color: red;
}

input {
	display: block;
	margin: auto;
	margin-top: 100px;
	padding: 50px;
}

input[value] {
	font-size: 25px;
}

.menu {
	text-align: center;
	padding-top: 70px;
}

.menu h4 {
	font-weight: bold;
	color: #696969;
}

.menu p {
	font-weight: bold;
}

.menu p span {
	font-size: 40px;
	color: #FF0000;
}