.top h3 {
	text-align: center;
	opacity: 0.5;
	padding-top: 50px;
	font-size: 80px;

}


.top img {
	display: block;
	padding-top: 20px;
	margin: auto;
	width: 80%;
}

input {
	display: block;
	margin: auto;
	margin-top: 100px;
	padding: 50px;
}

input[type="button"] {
	-webkit-appearance: none;
	border-radius: 0;
	padding: 30px;
	width: 25%;
	border-radius: 15px;
	border: 2px solid #f50057;;
}

input[value] {
	font-size: 35px;
	color: 	#f50057;;
}

.menu {
	text-align: center;
	padding-top: 125px;
}

.menu h4 {
	font-weight: normal;
	color: #696969;
	font-size: 75px;
}

.menu p {
	font-weight: normal;
	font-size: 60px;
}

.menu p span {
	color: #FF0000;
}